@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cards{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.cards h1{
    font-size: 40px;
    margin: 0 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.services{
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.content .fa{
    font-size: 70px;
    margin: 16px 0;
}

.content > *{
    flex: 1 1 100%;
}

.content:hover{
    color: white;
}
.content:hover a{
    border-color: white;
    background: white;
}
.content-1:hover{
    border-color: #1da1f2;
    background: #1da1f2;
}
.content-1:hover a{
    color: #1da1f2;
}
.content-2:hover{
    border-color: #e1306c;
    background: #e1306c;
}
.content-2:hover a{
    color: #e1306c;
}
.content-3:hover{
    border-color: #ff0000;
    background: #ff0000;
}
.content-3:hover a{
    color: #ff0000;
}

.content h2{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content p{
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.content a{
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 35px;
    transition: 0.3s ease;
}

.content a:hover{
    border-radius: 4px;
}

@media (max-width: 900px){
    .services{
        display: flex;
        flex-direction: column;
    }
}

/* Botão voltar */
.back-btn {
position: fixed;
top: 20px;
left: 20px;
background: #38bdf8;
color: #0f172a;
padding: 10px 16px;
border-radius: 8px;
text-decoration: none;
font-weight: 600;
transition: all 0.3s ease;
box-shadow: 0 5px 15px rgba(56, 189, 248, 0.3);
}

/* Hover */
.back-btn:hover {
background: #0ea5e9;
transform: translateY(-2px);
box-shadow: 0 8px 20px rgba(56, 189, 248, 0.5);
}